---
interface Props {
  posts: any[];
}

const { posts } = Astro.props;

function getThumbnail(item: any): string | null {
  for (const attachment of item?.attachments ?? []) {
    if (attachment.mimetype.startsWith("image")) {
      return attachment.external_url
        ? attachment.external_url
        : `https://feed.smartsheep.studio/api/attachments/o/${attachment.file_id}`;
    }
  }
  return null;
}
---

<div class="grid justify-items-strench shadow-lg">
  {
    posts?.map((item) => (
      <a href={`/p/${item.alias}`}>
        <div class="card sm:card-side hover:bg-base-200 transition-colors sm:max-w-none">
          {getThumbnail(item) && (
            <figure class="mx-auto w-full object-cover p-6 max-sm:pb-0 sm:max-w-[12rem] sm:pe-0">
              <img
                loading="lazy"
                src={getThumbnail(item)}
                class="border-base-content bg-base-300 rounded-btn border border-opacity-5"
                alt={item?.title}
              />
            </figure>
          )}
          <div class="card-body">
            <h2 class="text-xl">{item?.title}</h2>
            <div class="mx-[-2px] mt-[-4px]">
              {item?.categories?.map((category: any) => (
                <span class="badge badge-primary">{category.name}</span>
              ))}
              {item?.tags?.map((tag: any) => (
                <span class="badge badge-secondary">{tag.name}</span>
              ))}
            </div>
            <div class="text-xs opacity-60 line-clamp-3">
              {item?.content?.substring(0, 160).replaceAll("#", "").replaceAll("*", "").trim() + "……"}
            </div>
          </div>
        </div>
      </a>
    ))
  }
</div>
